<div class="about-me-container">
    <div class="content mt-2">
        <img src="assets/img/aboutMe.jpg" alt="foto perfil">

        <p>Me llamo Sandra Bautista Cencerrado, me considero una persona organizada, creativa y resolutiva, exigente conmigo misma y activa,
            con capacidad de adaptarme a nuevos ámbitos y retos . Con ganas de seguir desarrollando mis capacidades personales y profesionales,
            me desenvuelvo bien trabajando en equipo.
            Licenciada en BBAA con máster en profesorado, actualmente estoy cursando el ciclo superior de Desarrollo de Aplicaciones Web
        </p>

        <h2>CV</h2>
    </div>
</div>
