.about-me-container {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra verticalmente los elementos */
    text-align: center; /* Centra el texto dentro del contenedor */
  }
  
  .content {
    display: flex;
    flex-direction: row; /* Coloca los elementos en fila */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .content img {
    width: 370px; /* Ancho deseado */
    height: 500px; /* Alto deseado */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
  }