<div class="container">

    <h1 class="title">Carta de Presentación</h1>
    <div class="row">
        <div class="col-md-6">
            <img class="perfil" src="assets/img/aboutMe.jpg" alt="foto perfil">
        </div>
        <div class="col-md-6">
            <p>Me llamo Sandra Bautista Cencerrado, me considero una persona organizada, creativa y resolutiva, exigente conmigo misma y activa,
                con capacidad de adaptarme a nuevos ámbitos y retos . Con ganas de seguir desarrollando mis capacidades personales y profesionales,
                me desenvuelvo bien trabajando en equipo.
            </p>
            <p>
                Licenciada en BBAA con máster en profesorado, actualmente estoy cursando las prácticas de empresa en el ciclo superior de Desarrollo de Aplicaciones Web.
            </p>
            <!-- Enlace de descarga del CV en PDF -->
            <p>Te invito a descargar mi CV aquí: </p>
            <a href="assets/documentos/CV.pdf" class="btn btn-primary" download><i class="fa-solid fa-circle-down mr-2"></i>CV</a>
        </div>
    </div>
</div>





<!--

<div class="about-me-container">
    <div class="content mt-2">
        <img src="assets/img/aboutMe.jpg" alt="foto perfil">

        <p>Me llamo Sandra Bautista Cencerrado, me considero una persona organizada, creativa y resolutiva, exigente conmigo misma y activa,
            con capacidad de adaptarme a nuevos ámbitos y retos . Con ganas de seguir desarrollando mis capacidades personales y profesionales,
            me desenvuelvo bien trabajando en equipo.
            Licenciada en BBAA con máster en profesorado, actualmente estoy cursando el ciclo superior de Desarrollo de Aplicaciones Web
        </p>

        <h2>CV</h2>
    </div>
</div>
-->