<div class="container about-me-container">
    <h1 class="title">About Me</h1>
    <div class="row content">
      <div class="col-md-6 text-center">
        <img class="img-thumbnail rounded perfil" src="assets/img/aboutMe.jpg" alt="foto perfil">
      </div>
      <div class="col-md-6 mt-5">
        <p>Me llamo Sandra Bautista Cencerrado, me considero una persona organizada, creativa y resolutiva, exigente conmigo misma y activa,
          con capacidad de adaptarme a nuevos ámbitos y retos . Con ganas de seguir desarrollando mis capacidades personales y profesionales,
          me desenvuelvo bien trabajando en equipo.
        </p>
        <p>
          Licenciada en BBAA con máster en profesorado, actualmente estoy cursando las prácticas de empresa en el ciclo superior de Desarrollo de Aplicaciones Web.
        </p>
        <!-- Enlace de descarga del CV en PDF -->
        <p class="mt-5 text-center">Te invito a descargar mi CV aquí: </p>
        <div class="text-center">
          <a href="assets/documentos/CV.pdf" class="btn btn-crear" download><i class="fa-solid fa-circle-down mr-2"></i>CV</a>
        </div>
      </div>
    </div>
  </div>
  