<footer class="footer bg-dark rounded-top text-center">
    <div class="container py-2">
        <a href="https://www.linkedin.com/in/sandra-bautista-cencerrado-632027170" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.instagram.com/sanbau.art" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.facebook.com/sanbau.art" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <p class="text-white">
            &copy; {{footer.nombre + '  ' + footer.apellidos + '  ' + footer.fecha + '  ' + footer.texto}} 
        </p>
    </div>
</footer>
