/* Estilos para tooltips personalizados */
.tooltip-custom {
  font-size: 16px; /* Tamaño del texto del tooltip */
  max-width: 400px; /* Ancho máximo del tooltip */
  padding: 10px 20px; /* Espaciado interno del tooltip */
  background-color: #333; /* Color de fondo del tooltip */
  color: #fff; /* Color del texto del tooltip */
  border-radius: 8px; /* Radio de borde del tooltip */
}
  
/* Estilos para tooltip arrow */
.tooltip-custom .arrow::before {
  border-top-color: #333; /* Color de fondo del tooltip */
}

/* Estilos para el modal de imagen */
.modal-dialog {
  margin: auto;
  width: 90%; /* Ancho del modal en dispositivos móviles */
  max-width: 100%; /* Ancho máximo del modal */
}

.modal-content {
  width: 100%; /* Ancho del contenido del modal */
  max-width: 100%; /* Ancho máximo del contenido del modal */
  margin: 0 auto; /* Centrado horizontal */
}

.modal-body {
  max-height: calc(100vh - 200px); /* Altura máxima del cuerpo del modal */
  overflow-y: auto; /* Permitir desplazamiento vertical si es necesario */
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 40%; /* Ancho máximo del modal en pantallas más grandes */
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
